[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:xybschin/kickstart.nvim.git
[submodule "quickshell/.config/quickshell"]
	path = quickshell/.config/quickshell
	url = https://github.com/AvengeMedia/DankMaterialShell.git
