* {
    font-family: FontAwesome, "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 600;
}

window#waybar {
    background-color: #141415;
    color: #ffffff;
}

button {
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
}

#custom-arch {
    margin-left: 1px;
    background-color: #252530;
    color: white;
    padding: 0 16px;
}

#workspaces button {
    background-color: #252530;
    color: #ffffff;
}

#workspaces button.active {
    background-color: #cdcdcd;
    color: black;
    font-weight: bold;
}

/* Apply a right margin and separator to modules on the right */
.modules-right > widget > * {
    margin: 6px 6px 6px 6px;
    padding-right: 12px;
    border-right: 1px solid #cdcdcd;
}

.modules-right > widget:last-child > * {
    margin-right: 1px;
    padding: 0;
    border-right: 0;
}
