* {
    font-family: FontAwesome, "JetBrainsMono Nerd Font";
    font-size: 13px;
    font-weight: 600;
}

window#waybar {
    /* background-color: #141415; */
    background-color: rgba(20, 20, 21, 0.4);
    color: #cdcdcd;
}

button {
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
}

#custom-arch {
    background-color: #252530;
    color: #cdcdcd;
    min-width: 52px;
    margin-left: 1px;
}

#custom-media {
    margin-left: 24px;
}

#workspaces button {
    background-color: #252530;
    color: #cdcdcd;
    min-width: 32px;
}

#workspaces button.active {
    background-color: #cdcdcd;
    color: #252530;
}

.modules-right > widget > * {
    margin: 16px 0;
    padding: 0px 1rem;
    border-right: 1px solid #878787;
}

.modules-right > widget:last-child > * {
    margin-right: 0;
    border: 0px;
}


