@define-color background                #101010;
@define-color selection-background      #272727;
@define-color foreground                #ffffff;
@define-color selection-foreground      #b0b0b0;
@define-color divider                   #878787;
@define-color highlight                 #a3d6a3;
@define-color arch-brand                #1793d1;

* {
    font-family: FontAwesome, "JetBrainsMono Nerd Font";
    font-size: 13px;
    font-weight: 600;
}

window#waybar {
    background-color: alpha(@background, 0.85);
    color: @foreground;
}

button {
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
}

#custom-arch {
    min-width: 52px;
    background-color: @selection-background;
    color: @arch-brand;
}

#custom-media {
    margin-left: 24px;
}

#workspaces button {
    background-color: @selection-background;
    color: @selection-foreground;
}

#workspaces button.active {
    background-color: @highlight;
    color: @selection-background;
}

.modules-right > widget > * {
    margin: 8px 0;
    padding: 0px 1rem;
    border-right: 1px solid @divider;
}

.modules-right > widget:last-child > * {
    margin-right: 0;
    border: 0px;
}


