@define-color background                #141415;
@define-color selection-background      #252530;
@define-color foreground                #cdcdcd;
@define-color selection-foreground      #cdcdcd;
@define-color divider                   #878787;

* {
    font-family: FontAwesome, "JetBrainsMono Nerd Font";
    font-size: 13px;
    font-weight: 600;
}

window#waybar {
    background-color: alpha(@background, 0.3);
    color: @foreground;
    border-top: 1px solid alpha(@divider, 0.05);
}

button {
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
}

#custom-arch {
    background-color: @selection-background;
    color: #cdcdcd;
    min-width: 52px;
    margin-left: 1px;
}

#custom-media {
    margin-left: 24px;
}

#workspaces button {
    margin: 6px 0px 6px 6px;
    border-radius: 6px;
    background-color: @selection-background;
    color: @selection-foreground;
}

#workspaces button.active {
    background-color: @selection-foreground;
    color: @selection-background;
}

.modules-right > widget > * {
    margin: 16px 0;
    padding: 0px 1rem;
    border-right: 1px solid @divider;
}

.modules-right > widget:last-child > * {
    margin-right: 0;
    border: 0px;
}


