* {
    font-family: FontAwesome, "JetBrainsMono Nerd Font";
    font-size: 13px;
    font-weight: 600;
}

window#waybar {
    background-color: #141415;
    color: #cdcdcd;
}

button {
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
}

#custom-arch {
    background-color: #252530;
    color: #cdcdcd;
    min-width: 52px;
    margin-left: 1px;
}

#custom-media {
    margin-left: 24px;
}

#workspaces button {
    background-color: #252530;
    color: #cdcdcd;
    min-width: 32px;
    font-weight: bold;
}

#workspaces button.active {
    background-color: #cdcdcd;
    color: #252530;
}

/* Apply a right margin and separator to modules on the right */
.modules-right > widget > * {
    margin: 14px 6px 14px 4px;
    padding: 0px 12px;
    border-right: 3px solid #878787;
}

.modules-right > widget:last-child > * {
    margin-right: 12px;
    border: 0px;
}

